services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    volumes:
      - .:/app:cached
      - sqlite-data:/app/data
      - node_modules_cache:/app/node_modules
      - frontend_node_modules:/app/frontend/node_modules
      - backend_node_modules:/app/backend/node_modules
    networks:
      - transcendence
    environment:
      - NODE_ENV=development
      - DATABASE_URL=file:/app/data/database.db
      - VITE_API_URL=http://localhost:3000
    ports:
      - '5173:5173' # Frontend Vite dev server
      - '3000:3000' # Backend API server
    command: sleep infinity

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - transcendence

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - transcendence
    depends_on:
      - prometheus

volumes:
  sqlite-data:
  node_modules_cache:
  frontend_node_modules:
  backend_node_modules:

networks:
  transcendence:
